{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}

{% endblock %}

{% block contenido %}
<div class="container-md" style="margin-top: 40px; margin-bottom: 20px;">

    <form>
        {% csrf_token %}
        <div class="row mb-3">
            <label for="inputText3" class="col-sm-2 col-form-label">Nombre de usuario</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-6">
            <input type="password" class="form-control" id="inputPassword3">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>

</div>

{% endblock %}

{% block js %}

{% endblock %}