{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!--Carrusel completo-->
    <section class="py-5">
        <div class="container">
            <div class="row text-left p-2 pb-3">
                <h1 style="text-align: center;">Menú de Administración.</h1>
            </div>

            <!--Start Carousel Wrapper-->
            <div class="row">
                <div class="col-md-6">
                    <div class="row text-left p-2 pb-3">
                        <h2 style="text-align: center;">Productos del sistema.</h2>
                    </div>
        
                    <!--Start Carousel Wrapper-->
                    <div id="carousel-related-product">
                        {% for prod in listaproductos %}
                        <div class="card mb-3" style="height: 240px; width: 640px; border-width: 1px; border-color: rgba(3, 3, 255, 0.164);">
                            <div class="row g-0">
                              <div class="col-md-4">
                                {% if prod.stock > 0 %}
                                    {% if prod.imagen %}
                                    <img src="{{ prod.imagen }}" style="width: 200px; height: 240px;" class="img-fluid rounded-start" alt="...">
                                    {% else %}
                                    <img src="{% static 'core/img/Default2.png' %}" class="img-fluid rounded-start" alt="...">
                                    {% endif %}
                                {% else %}
                                    {% if prod.imagen %}
                                    <img src="{{ prod.imagen }}" style="width: 200px; height: 240px; filter: grayscale();" class="img-fluid rounded-start" alt="...">
                                    {% else %}
                                    <img src="{% static 'core/img/Default2.png' %}" class="img-fluid rounded-start" alt="...">
                                    {% endif %}
                                {% endif %}
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    {% if prod.stock > 0 %}
                                    <h2 class="card-title">{{ prod.nombre }}</h2>
                                    {% else %}
                                    <h5 class="card-title text-danger" style="text-decoration: line-through;">{{ prod.nombre }}</h5>
                                    {% endif %}
                                    <p p class="card-text">{{ prod.descripcion }}</p>
                                    <p p class="card-text">Marca: {{ prod.marca.descripcion }}</p>
                                    {% if prod.stock == 0 %}
                                    <p class="card-text"><small style="color: rgb(255, 0, 0); font-weight: bold; ">Sin stock</small></p>
                                    {% else %}
                                    <p class="card-text">Stock: {{ prod.stock }}</p>
                                    {% endif %}
                                </div>
                                <a ><button class="btn btn-success">Modificar</button></a>
                                <a onclick="delete({{ aux.id }})" class="btn btn-success btn-outline-black" style="color: black;">Eliminar <img style="height: 20px;" src="{% static 'core/img/eliminar.png' %}" alt=""></a>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row text-left p-2 pb-3">
                        <h2 style="text-align: center;">Usuarios del sistema.</h2>
                    </div>
        
                    <!--Start Carousel Wrapper-->
                    <div id="carousel-related-product">
                        {% for aux in listausuarios %}
                        <div class="card mb-3" style="height: 240px; width: 640px; border-width: 1px; border-color: rgba(255, 0, 0, 0.253);">
                            <div class="row g-0">
                              <div class="col-md-4">
                                {% if aux.imagen %}
                                    <img src="{{ aux.imagen }}" style="width: 200px; height: 240px;" class="img-fluid rounded-start" alt="...">
                                {% else %}
                                    <img src="{% static 'core/img/usuariodefault.png' %}" style="width: 200px; height: 240px;" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Nombre: {{ aux.nombre }}</h5>
                                    <p p class="card-text">Dirección: {{ aux.direccion }}</p>
                                    {% if aux.suscrito == True %}
                                        <p p class="card-text">Tipo: Premium</p>
                                    {% else %}
                                        <p p class="card-text">Tipo: Normal</p>
                                    {% endif %}
                                </div>
                                <a ><button class="btn btn-success">Modificar</button></a>
                                <a href=""><button class="btn btn-danger">Eliminar</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    {% endblock %}
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
    {% block script %}
    <!-- Start Slider Script -->
    <script src="assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->
    {% endblock %}
